@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar-brand img {
    width: 75px;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

/*.card-footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* CSS */
.btn-circle {
    width: 308px;
    height: 308px;
    border-radius: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}













/*html {*/
/*    font-size: 10px;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*}*/

/*html {*/
/*    background-color: #DDDDDD;*/
/*}*/

/*body {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    background-color: #FFE773;*/
/*}*/

/*#app {*/
/*    width: 100%;*/
/*    height: 900px;*/
/*    background-color: black;*/
/*}*/

/*.clearfix:after {*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;*/
/*}*/

/*!*img {*!*/
/*!*    display: block;*!*/
/*!*    margin: 0 auto;*!*/
/*!*}*!*/

/*.left_panel {*/
/*    width: 15%;*/
/*    height: 100%;*/
/*    float: left;*/
/*    !*padding: 1px 1px;*!*/
/*    text-align: center;*/
/*    background-color: red;*/
/*}*/

/*.logo {*/
/*    width: 90%;*/
/*    height: 10%;*/
/*    padding: 10px 10px;*/
/*    text-align: center;*/
/*    background-color: wheat;*/
/*}*/

/*.left_panel_info {*/
/*    width: 100%;*/
/*    height: 70%;*/
/*    padding: 10px 10px;*/
/*    text-align: center;*/
/*}*/

/*.first, .second, .third, .fourth, .fifth {*/
/*    width: 80%;*/
/*    height: 15%;*/
/*    margin: 0 auto;*/
/*    padding: 10px 10px;*/
/*    text-align: center;*/
/*    background-color: black;*/
/*}*/

/*.right_panel {*/
/*    width: 85%;*/
/*    height: 100%;*/
/*    float: right;*/
/*    text-align: center;*/
/*    background-color: grey;*/
/*}*/

/*.header {*/
/*    width: 100%;*/
/*    height: 10%;*/
/*    background-color: darkgoldenrod;*/
/*    padding: 10px 10px;*/
/*}*/

/*.header_info {*/
/*    width: 95%;*/
/*    height: 95%;*/
/*    !*padding: 10px 10px;*!*/
/*    background-color: white;*/
/*}*/

/*.logo_text {*/
/*    width: 10%;*/
/*    height: 100%;*/
/*    margin: 0 auto;*/
/*    padding: 0 auto;*/
/*    float: left;*/
/*    background-color: yellow;*/
/*}*/

/*.search_logo {*/
/*    width: 10%;*/
/*    height: 100%;*/
/*    margin: 0 auto;*/
/*    float: left;*/
/*    background-color: green;*/
/*}*/

/*.search {*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    margin: 0 auto;*/
/*    float: left;*/
/*    background-color: red;*/
/*}*/

/*.filters {*/
/*    width: 30%;*/
/*    height: 100%;*/
/*    margin: 0 auto;*/
/*    float: right;*/
/*    background-color: blue;*/
/*}*/

/*.main {*/
/*    width: 100%;*/
/*    height: 90%;*/
/*    padding: 10px 10px;*/
/*    text-align: center;*/
/*    background-color: pink;*/
/*}*/

/*.main_info {*/
/*    width: 95%;*/
/*    height: 95%;*/
/*    text-align: center;*/
/*    background-color: darkgreen;*/
/*}*/