{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="this is page of Gym">
    <meta name="keywords" content="tashkent gym, gym">
    <meta name="author" content="Nikitin Maksim">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>#}
{#    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>#}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/styles.css' %}">
    <title> Gym </title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="../static/images/gym-logo.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Бар</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Настройки</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Обратная связь</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Foto</th>
                                <th>Имя</th>
                                <th>Фамилия</th>
                                <th>Телефон</th>
                                <th>Оплата</th>
                                <th>Дата оплаты</th>
                                <th>Дата активации</th>
                                <th>Дата окончания</th>
                                <th>Вес кг</th>
                                <th>Рост см</th>
                                <th>Дата рождения</th>
                                <th>Кол-во посещений</th>
                                <th>Время посещения</th>
                                <th>Тип занятия</th>
                                <th>Статус</th>
                                <th>Скидка</th>
                                <th>Адрес</th>
                                <th>Эмейл</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>0000001</td>
                                <td><img src="../static/images/1.jpeg" alt="..." class="img-responsive "></td>
                                <td>Galina</td>
                                <td>Nikitina</td>
                                <td>+998909815173</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>48</td>
                                <td>168</td>
                                <td>17/10/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>cuatrua@gmail.com</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000002</td>
                                <td><img src="../static/images/me.jpg" alt="..." class="img-responsive img-circle"></td>
                                <td>Maksim</td>
                                <td>Nikitin</td>
                                <td>+998909883962</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>83</td>
                                <td>198</td>
                                <td>17/07/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>hopefaithlove@mail.ru</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000001</td>
                                <td><img src="../static/images/1.jpeg" alt="..." class="img-responsive "></td>
                                <td>Galina</td>
                                <td>Nikitina</td>
                                <td>+998909815173</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>48</td>
                                <td>168</td>
                                <td>17/10/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>cuatrua@gmail.com</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000002</td>
                                <td><img src="../static/images/me.jpg" alt="..." class="img-responsive img-circle"></td>
                                <td>Maksim</td>
                                <td>Nikitin</td>
                                <td>+998909883962</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>83</td>
                                <td>198</td>
                                <td>17/07/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>hopefaithlove@mail.ru</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000001</td>
                                <td><img src="../static/images/1.jpeg" alt="..." class="img-responsive "></td>
                                <td>Galina</td>
                                <td>Nikitina</td>
                                <td>+998909815173</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>48</td>
                                <td>168</td>
                                <td>17/10/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>cuatrua@gmail.com</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000002</td>
                                <td><img src="../static/images/me.jpg" alt="..." class="img-responsive img-circle"></td>
                                <td>Maksim</td>
                                <td>Nikitin</td>
                                <td>+998909883962</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>83</td>
                                <td>198</td>
                                <td>17/07/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>hopefaithlove@mail.ru</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000001</td>
                                <td><img src="../static/images/1.jpeg" alt="..." class="img-responsive "></td>
                                <td>Galina</td>
                                <td>Nikitina</td>
                                <td>+998909815173</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>48</td>
                                <td>168</td>
                                <td>17/10/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>cuatrua@gmail.com</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000002</td>
                                <td><img src="../static/images/me.jpg" alt="..." class="img-responsive img-circle"></td>
                                <td>Maksim</td>
                                <td>Nikitin</td>
                                <td>+998909883962</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>83</td>
                                <td>198</td>
                                <td>17/07/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>hopefaithlove@mail.ru</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000001</td>
                                <td><img src="../static/images/1.jpeg" alt="..." class="img-responsive "></td>
                                <td>Galina</td>
                                <td>Nikitina</td>
                                <td>+998909815173</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>48</td>
                                <td>168</td>
                                <td>17/10/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>cuatrua@gmail.com</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000002</td>
                                <td><img src="../static/images/me.jpg" alt="..." class="img-responsive img-circle"></td>
                                <td>Maksim</td>
                                <td>Nikitin</td>
                                <td>+998909883962</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>83</td>
                                <td>198</td>
                                <td>17/07/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>hopefaithlove@mail.ru</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000001</td>
                                <td><img src="../static/images/1.jpeg" alt="..." class="img-responsive "></td>
                                <td>Galina</td>
                                <td>Nikitina</td>
                                <td>+998909815173</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>48</td>
                                <td>168</td>
                                <td>17/10/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>cuatrua@gmail.com</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000002</td>
                                <td><img src="../static/images/me.jpg" alt="..." class="img-responsive img-circle"></td>
                                <td>Maksim</td>
                                <td>Nikitin</td>
                                <td>+998909883962</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>83</td>
                                <td>198</td>
                                <td>17/07/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>hopefaithlove@mail.ru</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000001</td>
                                <td><img src="../static/images/1.jpeg" alt="..." class="img-responsive "></td>
                                <td>Galina</td>
                                <td>Nikitina</td>
                                <td>+998909815173</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>48</td>
                                <td>168</td>
                                <td>17/10/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>cuatrua@gmail.com</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000002</td>
                                <td><img src="../static/images/me.jpg" alt="..." class="img-responsive img-circle"></td>
                                <td>Maksim</td>
                                <td>Nikitin</td>
                                <td>+998909883962</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>83</td>
                                <td>198</td>
                                <td>17/07/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>hopefaithlove@mail.ru</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000001</td>
                                <td><img src="../static/images/1.jpeg" alt="..." class="img-responsive "></td>
                                <td>Galina</td>
                                <td>Nikitina</td>
                                <td>+998909815173</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>48</td>
                                <td>168</td>
                                <td>17/10/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>cuatrua@gmail.com</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000002</td>
                                <td><img src="../static/images/me.jpg" alt="..." class="img-responsive img-circle"></td>
                                <td>Maksim</td>
                                <td>Nikitin</td>
                                <td>+998909883962</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>83</td>
                                <td>198</td>
                                <td>17/07/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>hopefaithlove@mail.ru</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000001</td>
                                <td><img src="../static/images/1.jpeg" alt="..." class="img-responsive "></td>
                                <td>Galina</td>
                                <td>Nikitina</td>
                                <td>+998909815173</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>48</td>
                                <td>168</td>
                                <td>17/10/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>cuatrua@gmail.com</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000002</td>
                                <td><img src="../static/images/me.jpg" alt="..." class="img-responsive img-circle"></td>
                                <td>Maksim</td>
                                <td>Nikitin</td>
                                <td>+998909883962</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>83</td>
                                <td>198</td>
                                <td>17/07/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>hopefaithlove@mail.ru</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000001</td>
                                <td><img src="../static/images/1.jpeg" alt="..." class="img-responsive "></td>
                                <td>Galina</td>
                                <td>Nikitina</td>
                                <td>+998909815173</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>48</td>
                                <td>168</td>
                                <td>17/10/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>cuatrua@gmail.com</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000002</td>
                                <td><img src="../static/images/me.jpg" alt="..." class="img-responsive img-circle"></td>
                                <td>Maksim</td>
                                <td>Nikitin</td>
                                <td>+998909883962</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>83</td>
                                <td>198</td>
                                <td>17/07/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>hopefaithlove@mail.ru</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000001</td>
                                <td><img src="../static/images/1.jpeg" alt="..." class="img-responsive "></td>
                                <td>Galina</td>
                                <td>Nikitina</td>
                                <td>+998909815173</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>48</td>
                                <td>168</td>
                                <td>17/10/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>cuatrua@gmail.com</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>0000002</td>
                                <td><img src="../static/images/me.jpg" alt="..." class="img-responsive img-circle"></td>
                                <td>Maksim</td>
                                <td>Nikitin</td>
                                <td>+998909883962</td>
                                <td>1000000</td>
                                <td>26/12/2019</td>
                                <td>01/01/2020</td>
                                <td>31/01/2019</td>
                                <td>83</td>
                                <td>198</td>
                                <td>17/07/1988</td>
                                <td>12</td>
                                <td>morning</td>
                                <td>individual</td>
                                <td>VIP</td>
                                <td>50%</td>
                                <td>G.Tashkent</td>
                                <td>hopefaithlove@mail.ru</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<footer class="container-fluid ">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a class="btn btn-light fixed-bottom" href="#" role="button" style="float: right" data-toggle="modal" data-target="#exampleModalCenter">
                    <img src="../static/images/new_user.png" class="img-responsive rounded-circle float-right" alt="..."
                     width="50px">
                </a>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Новый пользователь</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="container">
                                    <form role="form" class="form-inline">
                                        <div class="form-row">
                                            <div class="col-xs-6 col-md-6 col-lg-6">
                                                <input type="text" class="form-control" style="width: 75%" placeholder="Имя">
                                            </div>
                                            <div class="col-xs-6 col-md-6 col-lg-6">
                                                <input type="text" class="form-control" style="width: 75%" placeholder="Фамилия">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xs-4">
                                                <label for="example-date-input"
                                                       class="col-xs-2 col-form-label">Телефон</label>
                                                <input class="form-control" type="tel" style="width: 50%" value="+998 "
                                                       id="example-tel-input">
                                            </div>
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <label for="example-number-input"
                                                       class="col-xs-2 col-form-label">Оплата</label>
                                                <input class="form-control" type="number" style="width: 75%" id="example-number-input">
                                            </div>
                                            <div class="col-xs-4">
                                                <label for="example-date-input" class="col-xs-2 col-form-label">Дата
                                                    оплаты</label>
                                                <input class="form-control" type="date" id="example-date-input">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xs-6 col-md-6 col-lg-6">
                                                <label for="example-date-input" class="col-xs-2 col-form-label">Дата
                                                    активации</label>
                                                <input class="form-control" type="date" id="example-date-input">
                                            </div>
                                            <div class="col-xs-6 col-md-6 col-lg-6">
                                                <label for="example-date-input" class="col-xs-2 col-form-label">Дата
                                                    окончания</label>
                                                <input class="form-control" type="date" id="example-date-input">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xs-6 col-md-6 col-lg-6">
                                                <label for="example-number-input" class="col-xs-2 col-form-label">Вес
                                                    кг</label>
                                                <input class="form-control" type="number" style="width: 50%" value=""
                                                       id="example-number-input">
                                            </div>
                                            <div class="col-xs-6 col-md-6 col-lg-6">
                                                <label for="example-number-input" class="col-xs-2 col-form-label">Рост
                                                    см</label>
                                                <input class="form-control" type="number" style="width: 50%" value=""
                                                       id="example-number-input">
                                            </div>
                                        </div>
                                        <div class="form-row ">
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <label for="example-date-input" class="col-xs-2 col-form-label">Дата
                                                    рождения</label>
                                                <input class="form-control" type="date" id="example-date-input">
                                            </div>
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <label for="example-number-input" class="col-xs-2 col-form-label">Кол-во
                                                    посещений</label>
                                                <input class="form-control" type="number" style="width: 50%" value="12"
                                                       id="example-number-input">
                                            </div>
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <label for="inlineFormCustomSelect" class="col-xs-2 col-form-label">Время
                                                    посещения</label>
                                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                    <option selected>Весь день</option>
                                                    <option value="1">До обеда</option>
                                                    <option value="2">После обеда</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xs-6 col-md-6 col-lg-6">
                                                <label for="inlineFormCustomSelect" class="col-xs-2 col-form-label">Тип
                                                    занятий</label>
                                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                    <option selected>Индивидуальный</option>
                                                    <option value="1">Групповой</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6 col-md-6 col-lg-6">
                                                <label for="inlineFormCustomSelect" class="col-xs-2 col-form-label">Статус</label>
                                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                    <option selected>Новый клиент</option>
                                                    <option value="1">Постоянный клиент</option>
                                                    <option value="2">VIP</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">

                                            <div class="col-xs-6 col-md-6 col-lg-6">
                                                <label for="example-number-input"
                                                       class="col-xs-2 col-form-label">Скидка</label>
                                                <input class="form-control" type="number" style="width: 75%" id="example-number-input">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xs-6 col-md-6 col-lg-6">
                                                <input type="text" class="form-control" style="width: 75%" placeholder="Адрес">
                                            </div>
                                            <div class="col-xs-6 col-md-6 col-lg-6">
                                                <input type="email" class="form-control" style="width: 75%" id="exampleFormControlInput1"
                                                       placeholder="email">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <button type="button" class="btn btn-primary">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>