{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head> 
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="this is page of Gym">
	<meta name="keywords" content="tashkent gym, gym">
	<meta name="author" content="Nikitin Maksim">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/styles.css' %}">
	<title> Gym </title>
</head>
<body>
	<div id="app">
		<div class="left_panel">
			<div class="logo">
				
			</div>
			<div class="left_panel_info">
				<div class="first">
					
				</div>
				<div class="second">
					
				</div>
				<div class="third">
					
				</div>
				<div class="fourth">
					
				</div>
				<div class="fifth">
					
				</div>
			</div>
			<div class="right_panel_info">
				<div class="header">
					<div class="header_info">
						<div class="logo_text">
							
						</div>
						<div class="search_logo">
							
						</div>
						<div class="search">
							
						</div>
						<div class="filters">
							<div class="first_filter"></div>
							<div class="first_second"></div>
							<div class="first_third"></div>
						</div>
					</div>
					<div class="main">
						<div class="main_info"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<footer>
	
</footer>
</html>